<!DOCTYPE html>
<html lang="en">

<head>
    <!--<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>first vue</title>
    <!--第一步：需要先导入vue.js，要写在head里-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{msg}}
        <hr>
        <!-- 1，{{变量名}}：语法形式；2，使用v-bind:href将变量绑定到超链接 -->
        <a v-bind:href="addr">{{info}}</a>
        <hr>
        <!-- if else语句：v-else元素必须紧跟在v-if/v-else-if后面，否则不会被识别 -->
        <a href="#" v-if="isLogin">个人中心</a>
        <a href="#" v-else>登录</a>
        <hr>
        <a href="#" v-if="level==1">皇帝</a>
        <a href="#" v-else-if="level==2">皇亲</a>
        <a href="#" v-else-if="level==3">国戚</a>
        <a href="#" v-else-if="level==4">大臣</a>
        <a href="#" v-else>平民</a>
        <hr>
        <span v-if="isSeen">if</span>
        <span v-show="isSeen">show</span>
        <hr>
        <!-- for循环： -->
        <ul>
            <li v-for="shop in shops">{{shop}}</li>
            <li v-for="(home,index) in homes">第{{index+1}}个{{home}}</li>
        </ul>
    </div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app', //与 document.getElementById('app') / $('#app') 一个意思
        //delimiters: ['[[', ']]'], //将语法中的“{{}}”替换成“[[]]”
        data: { //存放变量
            msg: 'first vue',
            info: '点击跳转',
            addr: 'http://www.baidu.com',
            isLogin: true,
            level: 2,
            isSeen: false,
            shops: ['南京', '北京', '上海', '广州', '深圳'],
            homes: ['东京', '巴黎', '米兰', '纽约', '洛杉矶']
        }
    })
</script>

</html>